@media (min-width:991px) {
    .toggle {
        display: none;
    }
}

@media (max-width:991px) {
    .bg::before {
        display: none;
    }

    header {
        padding: 20px;
    }

    section {
        padding: 20px;
        padding-bottom: 120px;
    }

    .content {
        margin-top: 100px;
        flex-direction: column;
    }

    .content .textBox {
        max-width: 100%;
    }

    .content .textBox h2 {
        font-size: 2.5em;
        margin-bottom: 15px;
    }

    .content .imgBox {
        max-width: 100%;
        justify-content: center;
    }

    .content .imgBox img {
        max-width: 300px;
    }

    .thumb li {
        margin: 0 3px;
        height: 55px;
    }

    .thumb li img {
        max-width: 40px;
    }

    .thumb li::before {
        position: absolute;
        top: -150px;
        left: 0;
        font-size: 4em;
        align-items: center;
    }

    .sci {
        background: rgba(0, 0, 0, 0.1);
        right: 0;
        width: 50px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    header .navigation {
        display: none;
    }
    header .navigation.active{
        position:fixed;
        top: 0;
        left: 0;
        height:100%;
        width: 100%;
        display: flex;
        justify-content:center;
        align-items:center;
        background:#fc4a55;
        z-index: 10;
        flex-direction: column;
    }
    .toggle {
        position: relative;
        cursor: pointer;
        font-size: 30px;
        color: #fff;
        z-index: 10000;
    }
    .toggle.active{
        position:relative;
        background-size: 25px;
        background-position: center;
    }
}